header {
	display: flex;
	justify-content: center;
}

.blok {
	background-color: blue;
	color: white;
	width: 200px;
	height: 150px;
	border: 2px solid black;
}

#blok2{
	flex-grow: 1;
}


